.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('/fundo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.Perfio {
  height: 600px;
  width: 350px;
  border-radius: 5px;
  border: 2px solid rgb(0, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: rgb(0, 255, 0);
}

.Perfio div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Perfio img {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 15px 0;
}

.Perfio li {
  list-style: none;
  margin: 20px 5px;
}

.Perfio a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  width: 100%;
  border:  1px solid rgb(0, 255, 0);
  color: rgb(0, 255, 0);
  border-radius: 5px;
}

/*---------------------------------------------------------------------------------------------------*/

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #22272E;
  height: 100px;
  margin-bottom: 1px;
  padding: 0 50px;
}

.Header span {
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 255, 0);
}

.Header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Header a {
  color: rgb(0, 255, 0);
  text-decoration: none;
  margin: 0 30px;
}

.Header a:hover {
  color: #12BEF8;
}

/*---------------------------------------------------------------------------------------------------*/

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #22272E;
  height: 100px;
  margin-top: 1px;
  padding: 0 50px;
}

.Footer span {
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 255, 0);
}


.Footer img {
  height: 50px;
  margin: 0 20px;
}

/*---------------------------------------------------------------------------------------------------*/

.Home {
  height: 100%;
}