.App {}

/*---------------------------------------------------------------------------------------------------*/

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #22272E;
  height: 100px;
  margin-bottom: 1px;
}

.Header span {
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 255, 0);
}

.Header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.Header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Header li {
  list-style: none;
  padding: 5px 10px;
  font-size: 20px;
  color: rgb(0, 255, 0);
}

/*---------------------------------------------------------------------------------------------------*/

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #22272E;
  height: 100px;
  margin-top: 1px;
}

.Footer span {
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 255, 0);
}

.Footer img {
  height: 50px;
  margin: 0 20px;
}